/*-- scss:defaults --*/
/* Sidebar */
#quarto-sidebar {
  background-color: #BACFC2; // pale green-grey
}

/* Main headings */
#quarto-content h1 {
  color: #476653; // deep teal
}

/* Subheadings */
#quarto-content h2 {
  color: #476653; // muted peach/coral
}

/* Links in main content */
#quarto-content a {
  color: #4a84b0ff; // warm rust
}

/* Links in sidebar */
#quarto-sidebar a {
  color: #000000;
}

#TOC a {
  color: #000000 !important;
}

#TOC a:hover,
#TOC a:focus {
  color: #000000 !important;
}

#TOC a.active {
  color: #000000 !important;
}

body {
  overflow-x: hidden;
}


body {
  position: relative;
  overflow-x: hidden;
}

body::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 150px;

  background-image: url("pages/images/flowers_trimmed.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: auto 100%;

  z-index: 0;
  pointer-events: none;
}

#quarto-sidebar {
  background-color: #BACFC2;
  z-index: 1;
}
main.content {
  padding-bottom: 100px;
}

#quarto-sidebar {
  background-color: #BACFC2;
}


#TOC .active {
  border-left: none !important;
}
#TOC {
  border-left: none !important;
}

#TOC a {
  border-left: none !important;
}


