/*-- scss:defaults --*/
/* Sidebar */
#quarto-sidebar {
  background-color: #BACFC2; // pale green-grey
}

/* Main headings */
#quarto-content h1 {
  color: #476653; // deep teal
}

/* Subheadings */
#quarto-content h2 {
  color: #476653; // muted peach/coral
}

/* Links in main content */
#quarto-content a {
  color: #4a84b0ff; // warm rust
}

/* Links in sidebar */
#quarto-sidebar a {
  color: #000000;
}

#TOC a {
  color: #000000 !important;
}

#TOC a:hover,
#TOC a:focus {
  color: #000000 !important;
}

#TOC a.active {
  color: #000000 !important;
}

body {
  background-image: url("pages/images/flowers_r.png");
  background-position: right top;
  background-repeat: repeat-y;
  background-size: 250px auto;
}

#TOC .active {
  border-left: none !important;
}
#TOC {
  border-left: none !important;
}

#TOC a {
  border-left: none !important;
}

@media (max-width: 1000px) {
  body {
    background-image: none;
  }
}